#parse("project/java/copyright.vm")
package ${constant.getPackageName()}.service.mq;
import com.dmall.dmg.sdk.core.consumer.ConsumerContext;
import com.dmall.dmg.sdk.core.consumer.ConsumerRecord;
import com.dmall.dmg.sdk.core.consumer.MessageHandler;
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;

import java.util.List;

public class DefaultMessageHandler implements MessageHandler {

    Logger logger = LoggerFactory.getLogger(getClass());

    @Override
    public void onMessage(List<ConsumerRecord> list, ConsumerContext consumerContext) {
        try {
            for (ConsumerRecord record : list) {
                //TODO 在这儿处理收到的消息
            }
        } catch (Exception e) {
            e.printStackTrace();
        }
    }
}
