<beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
							http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
							http://www.springframework.org/schema/context
							http://www.springframework.org/schema/context/spring-context-3.2.xsd
							http://www.springframework.org/schema/task 
							http://www.springframework.org/schema/task/spring-task-3.2.xsd"
	default-autowire="byName">

	<!-- 注解扫描包 -->
	<context:component-scan base-package="${constant.getPackageName()}.worker" />

	<!-- 启用自动任务注解支持 -->
  	<task:executor id="executor" pool-size="1-4" queue-capacity="5" rejection-policy="ABORT"/>
  	<task:scheduler id="scheduler" pool-size="5"/>
  	<task:annotation-driven executor="executor" scheduler="scheduler"/>
</beans>