#parse("project/java/copyright.vm")
package ${constant.getPackageName()}.service;

import ${constant.getPackageName()}.${constant.entityModule}.${table.className};
import com.wm.nb.service.base.BaseService;

/**
 * ${table.className}Service
 * @author ${constant.getProjectAuthor()}
 * @since ${tools.dateFormat("yyyy-MM-dd")}
 */
public interface ${table.className}Service extends BaseService<${table.className}, ${table.primaryField.typeName}> {

}