package ${constant.getPackageName()}.web;

import org.springframework.stereotype.Controller;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RequestMethod;

import ${constant.getPackageName()}.web.BaseController;

/**
 * 首页
 * @author ${constant.getProjectAuthor()}
 * @since ${tools.dateFormat("yyyy-MM-dd")}
 */
@Controller
@RequestMapping(value = "/", method = {RequestMethod.GET,RequestMethod.POST})
public class IndexController extends BaseController {

	@RequestMapping
	public String index(){
		return "index";
	}
	
}
