#parse("project/java/copyright.vm")
package ${constant.getPackageName()}.web.controller;

import javax.annotation.Resource;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RequestMethod;
import org.springframework.web.bind.annotation.PathVariable;
import org.springframework.web.servlet.ModelAndView;
import org.springframework.stereotype.Controller;
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import ${constant.getPackageName()}.domain.base.Page;
import ${constant.getPackageName()}.service.${table.className}Service;
import ${constant.getPackageName()}.domain.${table.className};
import org.springframework.web.bind.annotation.*;
import javax.servlet.http.HttpServletRequest;
import ${constant.getPackageName()}.web.BaseController;

/**
 * $!{table.remark} controller层
 * @author ${constant.getProjectAuthor()}
 * @since ${tools.dateFormat("yyyy-MM-dd")}
 */
@Controller
@RequestMapping(value = "/${tools.getVarName(${table.name})}")
public class ${table.className}Controller extends BaseController{
    private static final Logger LOGGER = LoggerFactory.getLogger(${table.className}Controller.class);
	@Resource private ${table.className}Service ${tools.getVarName(${table.name})}Service;
	
	/**
	 * 列表展示
	 * @param ${tools.getVarName(${table.name})} 实体对象
	 * @param page 分页对象
	 * @return
	 */
	@RequestMapping(method = {RequestMethod.GET,RequestMethod.POST})
	@ResponseBody
	public String list(${table.className} ${tools.getVarName(${table.name})},Page<${table.className}> page){
		//TODO

		return "";
	}
	
	/**
	 * 响应新增(修改)页面
	 * @param ${table.primaryField.fieldName} 对象编号
	 * @return
	 */
	@RequestMapping(value="/{${table.primaryField.fieldName}}",method=RequestMethod.PUT)
	@ResponseBody
	public String edit(@PathVariable ${table.primaryField.type.simpleName} ${table.primaryField.fieldName}){
		//TODO

		return "";
	}
	
	/**
	 * 通过编号删除对象
	 * @param ${table.primaryField.fieldName} 对象编号
	 * @return
	 */
	@RequestMapping(value="/{${table.primaryField.fieldName}}",method=RequestMethod.DELETE)
	@ResponseBody
	public String del(@PathVariable ${table.primaryField.type.simpleName} ${table.primaryField.fieldName}){
		//TODO

		return "";
	}
	
	/**
	 * 通过编号查看对象
	 * @param ${table.primaryField.fieldName} 对象编号
	 * @return
	 */
	@RequestMapping(value="/{${table.primaryField.fieldName}}",method=RequestMethod.GET)
	@ResponseBody
	public String view(@PathVariable ${table.primaryField.type.simpleName} ${table.primaryField.fieldName}){
		//TODO

		return "";
	}
	
	/**
	 * 保存方法
	 * @param ${tools.getVarName(${table.name})} 实体对象
	 * @return
	 */
	@RequestMapping(value="/save",method=RequestMethod.POST)
	@ResponseBody
	public String save(${table.className} ${tools.getVarName(${table.name})}){
		//TODO

		return "";
	}
	
}