<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>#if($title)$title - 多点管理系统 #else 多点管理系统 #end</title>
	<meta name="description" content="Static & Dynamic Tables" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- basic styles -->
	<link href="$!homeModule.getTarget('/assets/css/bootstrap.min.css')" rel="stylesheet" />
	<link rel="stylesheet" href="$!homeModule.getTarget('/assets/css/font-awesome.min.css')" />
	<!--[if IE 7]>
	  <link rel="stylesheet" href="$!erpModule.getTarget('/assets/css/font-awesome-ie7.min.css')" />
	<![endif]-->
	<!-- page specific plugin styles -->
	
<!-- 	<link rel="stylesheet" href="$!erpModule.getTarget('/assets/css/ace.min.css')" />
	<link rel="stylesheet" href="$!erpModule.getTarget('/assets/css/ace-rtl.min.css')" />
	<link rel="stylesheet" href="$!erpModule.getTarget('/assets/css/ace-skins.min.css')" /> -->
	<!--[if lte IE 8]>
	  <link rel="stylesheet" href="$!erpModule.getTarget('/assets/css/ace-ie.min.css')" />
	<![endif]-->
	<!-- inline styles related to this page -->
	<!-- ace settings handler -->
	<!-- <script src="$!erpModule.getTarget('/assets/js/ace-extra.min.js')"></script> -->
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="$!erpModule.getTarget('/assets/js/html5shiv.js')"></script>
	<script src="$!erpModule.getTarget('/assets/js/respond.min.js')"></script>
	<![endif]-->
	
	
	<script src="$!erpModule.getTarget('/assets/js/jquery-1.10.2.min.js')"></script>
	 <script src="$!erpModule.getTarget('/assets/js/bootstrap.min.js')"></script>
	<script src="$!erpModule.getTarget('/assets/js/bootbox.min.js')"></script>
    <script src="$!erpModule.getTarget('/assets/js/common/page.js?v=20141023')"></script>


  
</head>
<style>
.td-grey{
    background-color:#eff3f8;
    font-weight:bold;
 }
 td{
    text-align: center;
	vertical-align: middle;
	valign:middle;
 }
</style>	
	<body>
	     $screen_content
	</body>
</html>
