<script src="${info.cmd}!erpModule.getTarget('/assets/js/jquery.cookie.js')"></script>
<script src="${info.cmd}!erpModule.getTarget('/assets/js/erp/erp-menu.js?')${info.cmd}!erpModule" id="erp_user_menu_js"></script>
<div class="footer_space"></div>
<div id="cusModal" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog" id="cusDialog">
		<div class="modal-content" id="cusContent">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3 id="cusModalLabel" class="modal-title"></h3>
			</div>
			<div class="modal-body" id="cusModalBody">
				<iframe src="" id="cusIframe" style="zoom: 1.0" width="100%" height="100%" frameborder="0"></iframe>
			</div>
		</div>	<!-- /.modal-content -->
	</div>	<!-- /.modal-dialog -->
</div>
<script>
	var openBox = function(url,w,h,title,type){//text,html,image
        w = w ? w : 340;
        h = h ? h : 280;
        type = type||"iframe";

        $('#cusModalLabel').html(title||'新页面');
        $('#cusIframe').height(h).attr('src',url);
        $('#cusDialog').width(w);
        $('#cusContent').width(w);
        $('#cusModal').modal('show');
    }
	
	
	var openStaticBox = function(url,w,h,title,type){//text,html,image
	    w = w ? w : 340;
	    h = h ? h : 280;
	    type = type||"iframe";

	    $('#cusModalLabel').html(title||'新页面');
	    $('#cusIframe').height(h).attr('src',url);
	    $('#cusDialog').width(w);
	    $('#cusContent').width(w);
	    $('#cusModal').modal({backdrop: 'static', keyboard: false});
	}
	var gopage = function(num) {
			var r = /^\+?[1-9][0-9]*$/;
			if(!r.test(num))
				return;
		var form = $("#pageform")[0];
			if(!form) return;
		if(form["pageSize"]==null){$(form).append("<input type='hidden' name='pageSize'/>");}
		if(form["currentPage"]==null){$(form).append("<input type='hidden' name='currentPage'/>");}
		form["currentPage"].value = num;
		if ($("#page-pageSize").length==0 || $("#page-pageSize").val()==0) {
			form["pageSize"].value = 20;
		} else {
			form["pageSize"].value = $("#page-pageSize").val();
		}
		$(form).submit();
      }
	  
	  var changePageSize = function(num) {
			var r = /^\+?[1-9][0-9]*$/;
			if(!r.test(num))
				return;
		var form = $("#pageform")[0];
			if(!form) return;
		if(form["pageSize"]==null){$(form).append("<input type='hidden' name='pageSize'/>");}
		if(form["currentPage"]==null){$(form).append("<input type='hidden' name='currentPage'/>");}
		form["pageSize"].value = $("page-pageSize").val();
		form["currentPage"].value = 1;
		$(form).submit();
      }
	var delBox = function(url){
	    jQuery.ajax({  
                type : "DELETE",  
                url : url,  
                dataType:"json",  
                success : function(msg) {  
			if(msg.code=="success"){
			    var form = $("#pageform");
			    if(form.length<1){
				window.location.href=window.location.href; 
				  }else{
					    form.submit();
					}
			}else{
			    alert(msg.result);
			}
                }  
             });  
	}
	var openUrl = function(url){
		  window.location.href = url;
	}
	var closethickto = function(){
		parent.location.href = parent.location.href;
        }

    $(function(){
        $('#cusModal').on('hide', function(){
            $('#cusIframe').attr('src','');
        });
        if(self.frameElement && self.frameElement.tagName==="IFRAME"){
            var $footer = $('#bottom_footer');
            var $footer_space = $('.footer_space');
            if($footer) $footer.remove();
            if($footer_space) $footer_space.remove();
        }
    });
</script>